# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\UpGrad\TechnicalBlogApplication-7f054445a973db7245f40d732655f618465cb116\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
